<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | estate views</title>
</head>
<body>
<h1>About</h1>
<p>We are your one and only reliable partner</p>
</body>
</html>
