<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | estate views</title>
</head>
<body>
<h1>Home</h1>
<p>Reliability has never been this easy</p>
</body>
</html>
